@font-face {
  font-family: apple;
  src: url(./sf-pro-text_regular.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  
}

.nav{
  width: 100%;
  height: 43px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  position: fixed;
}
.nav  a {
  text-decoration: none;
  color: black;
  font-family: Helvetica,Arial,  sans-serif;
  font-weight: 100;
  font-size: 12px;
  opacity: 0.7;
 
}
.nav  a:hover{
  opacity: 1;
}
i{
  color: black;
  opacity: 0.8;
}
i:hover{
  opacity: 1;
}
.info{
  height: 85%;
  width: 100%;
  font-size: 30px;
  padding-top: 60px;
  background-image: url("https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_medium_2x.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.info h1{
  color: white;
  font-weight: 500;
}
.info h3{
  color: white;
  font-weight: 500;
}
.btn-pro{
  background-color: rgb(0, 0, 0);
  font-size:18px;
  padding: 8px 20px;
  border: 2px solid blue ;
  border-radius: 20px;
  margin-top: 20px;
  color: blue;
}
.btn-pro:hover{
  background-color:blue;
  border:2px solid none;
  color: white ;
  padding: 8px 20px;
  cursor: pointer;
}

.air{
  margin-top: 15px;
   width: 100%;
   height: 550px;
  font-size: 30px;
  padding-top: 60px;
   text-align: center;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url("https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_medium_2x.jpg");
  background-size: cover;
  background-position: center;
}
.air h1{
  font-weight: 500;
}
.btn-air{
  
  font-size:18px;
  padding: 8px 20px;
  border-radius: 20px;
  margin-top: 20px;
}
.btn-air:hover{
  box-shadow: 0 0 6px black;
  cursor: pointer;
}

.two-img{
  height:580px;
  margin-top: 12px;

  display: flex;
  justify-content: space-around;
}
.first-img{
  width: 50%;
  padding-top: 25px;
  text-align: center;
  background-color: aqua;
  margin-left: 12px;
  margin-right: 12px;
  background-image: url("https://www.apple.com/v/home/ch/images/promos/iphone-17/promo_iphone_17__bhofuohbsu3m_medium_2x.jpg");
  background-size: cover;
  background-position: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;

}
.second-img{
  width: 50%;
  padding-top: 25px;
  text-align: center;
  background-color: aqua;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  margin-right: 12px;
  background-image: url("https://www.apple.com/v/home/ch/images/promos/icloud-plus/promo_icloud_plus__d4639vh3tz2a_medium_2x.jpg");
  background-size: cover;
  background-position: center;
}
.first-img h1{
  font-weight: 500;
}
.second-img h1{
  font-weight: 500;
}


.row-img{
  height:500px;
  margin-top: 12px;

  display: flex;
  justify-content: space-around;
}
.third-img{
  width: 50%;
  padding-top: 20px;
  text-align: center;
  background-color: aqua;
  margin-left: 12px;
  margin-right: 12px;
  background-image: url("https://www.apple.com/in/home/images/promos/apple-watch-series-11/promo_apple_watch_series_11__b63hxviqvonm_medium_2x.jpg");
  background-size: cover;
  background-position: bottom;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;

}
.fourth-img{
  width: 50%;
  padding-top: 20px;
  text-align: center;
  background-color: aqua;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  margin-right: 12px;
  background-image: url("https://www.apple.com/v/home/ch/images/promos/airpods-pro-3/promo_airpodspro_3__f6xmza7bglei_medium_2x.jpg");
  background-size: cover;
  background-position: center;
}
.third-img h1{
  font-weight: 500;
}
.fourth-img h1{
  font-weight: 500;
}







.row2-img{
  height:500px;
  margin-top: 12px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}
.five-img{
  width: 50%;
  padding-top: 20px;
  text-align: center;
  background-color: aqua;
  margin-left: 12px;
  margin-right: 12px;
  background-image: url("https://www.apple.com/v/home/ch/images/promos/ipad-air/promo_ipad_air__bfbxzvw65c02_medium_2x.jpg");
  background-size: cover;
  background-position: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;

}
.six-img{
  width: 50%;
  padding-top: 20px;
  text-align: center;
  background-color: aqua;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  margin-right: 12px;
  background-image: url("https://www.apple.com/v/home/ch/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_medium_2x.jpg");
  background-size: cover;
  background-position: center;
}
.five-img h1{
  background-image: url("https://www.apple.com/v/home/ch/images/logos/ipad-air/promo_logo_ipadair__frwnnsqveeye_medium_2x.png");
  background-repeat: no-repeat;
  background-position: center;
}
.six-img h1{
  background-image: url("https://www.apple.com/v/home/ch/images/logos/iphone-tradein/promo_logo_iphone_tradein__7y3gtai5az66_medium_2x.png");
  background-repeat: no-repeat;
  background-position: center;
}


.credits{
  text-align: end;
  padding: 10px;
  font-size: 20px;
  color: rgb(30, 79, 80);
}